@page "/"

<h1 style="text-align:center;">Service Scheduler App</h1>
<br />
<br />

<p>
    This web application is responsible to book service appointments for listed service providers.

    <br /><br />

    Multiple action tabs are mentioned on left side panel and those are :
    <br /><br />

    1) Service Operators : It shows all the service operators listed in our application.<br />
    2) My Appointments : After Registeration and signing in that tab will be visible.<br />
    3) Create Appointment : This tab is responsible to generate an appointment for selected service provider.
    <br />
</p>
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
